*.swp
/junk
/audioStream/media
/audioStream/media*
/videoStream/media
/videoStream/media*
/mediaForum/media
/mediaForum/media*
/videoChat/media
/videoChat/media*
/mediaChat/media
/mediaChat/media*
/test0/media
*/catalog.json
*/users.json
browser.log
manual.*
/wshub/aws_ws.ini
