body {
  background-color: #aef;
  color: #444;
}

* {
  font-family: Arial,sans-serif;
  font-size: 100%;
  border-collapse: collapse;
}

.inline,.inline:hover {
  border: none;
  background-color: #aef;
  text-align: right;
  padding: 0;
}

button,input {
  border-radius: 8px;
  padding: 0.3em;
  margin: 0.2em;
  background-color: #eee;
}

#descriptionInput {
  width: 80%; 
  max-width : 35em;
}

#recordBtn {
  padding: 0.5em;
  font-size: 1.2em;
  width: 8em;
}

#recordBtn.recording {
  background-color: #faa;
}

button:hover,input:hover {
  background-color: #fff;
  color: #000;
}

td.delete, td.play, td.playDown {
  border-radius: 5px;
  padding: 0.3em;
  background-color: #eee;  
}

td.delete:hover, td.play:hover, td.playDown:hover {
  background-color: #fff;
  color: #000;
}

p#userlistP span:hover {
  background-color: #fff;
}

#medialistT td {
  font-size: 80%;
}

#medialistT tr.l {
  background-color: #ffd;
}
#medialistT tr.p {
  background-color: #faa;
}
#medialistT tr.g {
  background-color: #ddd;
}
#medialistT tr.e {
  background-color: #dad;
}
#medialistT tr.n {
  background-color: inherit;
}

#medialistT {
  border-spacing: 0.1em;
  border-collapse: separate;
}

a,a:link,a:visited {
  color: #000;
  text-decoration: underline;
  padding: 0.3em;  
}

a:hover {
  background-color: #fff;
}

.ye, .alert:hover {
  background-color: yellow; 
}

.alert {
  background-color: #ffa;
}
